.buildings_bg_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.buildings {
    
    svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        fill: red;

        polygon {
            opacity: 0;
            transition: .5s ease-in-out;

            &:hover {
                opacity: .7;
            }
        }
    }
}
