.building {

    svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;

        polygon {
            fill: red;
            opacity: 0;
            transition: .5s ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: .5;
            }
        }
    }
}

.building_slides {
    img {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }
}

.building_nextSlide {
    position: absolute;
    right: 0;
    top: 49%;
    z-index: 99999;
}

.building_prevSlide {
    position: absolute;
    left: 0;
    top: 49%;
    z-index: 99999;
}